.container {
  display: grid;
  grid-template-columns: 50% auto;
}

.col {
  padding: .4em 1.3em;
}

.color-dark {
  background: #2885C4;
}

.color-light {
  background: #57B3F1;
}

input.txt {
  border: 0;
  padding: 1.3em;
  width:80%;
  margin-bottom: 2em;
}

input.btn {
  border:0;
  display:block;
  padding: 1em 3em;
  color:#003A61;
  margin-bottom: 1em;
  cursor: pointer;
}

.life-container {
  background: #3FA0E1;
  padding: .5em;
  font-weight: bold;
  cursor: pointer;
}

.notification-count{
  text-align:right;
  background-color: #3FA0E1;
  height:50px;
  width:50px;
  border:1px solid aliceblue;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding-top: 12px;
  padding-left: 12px;
  left:97%;
  margin-bottom:20px;
}
