<!--The content below is only a placeholder and can be replaced.-->
<ul>
  <li>
    <a routerLink="">Home</a>
  </li>
  <li>
    <a routerLink="about/48">About</a>
  </li>
  <li>
    <a routerLink="randomText">Random</a>
  </li>
  <li>
    <a routerLink="sampleform">sample-form</a>
  </li>
</ul>
<div class="bubble-1"></div>
<div class="bubble-2"></div>
<div class="bubble-3"></div>
<div class="bubble-4"></div>
<div class="bubble-5"></div>
<div class="bubble-6"></div>
<div class="bubble-7"></div>
<div class="bubble-8"></div>
<div class="bubble-9"></div>
<div class="bubble-10"></div>

<router-outlet></router-outlet>
