<div class="container">
  <div class="color-dark col-md-6">
      <p>Add a bucket list item</p>
  </div>
  <div class="color-dark col-md-6">
    <p>Your bucket list ({{ itemNumber }})</p>
  </div>
  <div class="color-light" [@goals] = "goals.length">
    <div class="col-md-6">
      <p class="sm">Use this form below to add new bucket list goal. </p>
      <form>
        <input type="text" class="txt" name="item" placeholder="Life goals" [(ngModel)] = 'goalText'>
        <input type="submit" class="btn" value="Add Item" (click) = 'addGoalsToView()'>
      </form>
    </div>
    <div class="col-md-6">
      <p class="life-container" *ngFor = 'let goal of goals; let i = index' (click) = "removeItem(i)">
        {{ goal }}
      </p>
    </div>
  </div>
</div>
